@charset "utf-8";
.yx-cp-base .yx-m-pop .yx-w-close, .yx-cp-base .yx-w-button, .yx-cp-icon-common, .yx-cp-icon-yxclose, .yx-cp-icon-yxfixedtool, .yx-cp-icon-yxfoot, .yx-cp-icon-yxmember, .yx-cp-icon-yxnormal, .yx-cp-icon-yxtop {
    display: -moz-inline-stack;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    font-size: 12px;
    word-spacing: normal;
    letter-spacing: normal;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-1 .item .bd, .m-app .m-saleCenter .saleCenterList .moduleList .module-2 .item .bd {
    line-height: 1.1;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-1 .item, .m-app .m-saleCenter .saleCenterList .moduleList .module-2 .item {
    font-size: 14px;
}
a{color: #333;}
.yx-cp-con {
	width: 1090px;
	margin: 0 auto;
}

#j-yx-cp-m-siteNav {
	height: 36px;
	background: #333;
}

.yx-cp-row {
	height: 36px;
	position: relative;
}

.yx-cp-siteNav-l {
	width: 290px;
	height: 36px;
	overflow: hidden;
	position: absolute;
	left: 0;
}

.yx-cp-siteNav-l img {
	padding-top: 11px;
}

.news-li,
.swap {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 18px;
}

.news-li a,
.swap a {
	color: #b4a078;
	font-size: 12px;
	height: 36px;
	line-height: 36px;
	text-decoration: underline;
}

.swap {
	top: 36px;
}

.yx-cp-siteNav-r {
	width: 500px;
	height: 36px;
	position: absolute;
	right: 0;
}

.yx-cp-siteNav-r div {
	float: left;
	height: 36px;
	line-height: 36px;
	font-size: 12px;
	color: #ccc;
	padding-left: 8px;
}

.yx-cp-siteNav-r div a {
	color: #ccc;
}

.yx-cp-siteNavItem::before {
	content: '';
	display: inline-block;
	height: 16px;
	border-left: 1px solid #5c5c5c;
	vertical-align: middle;
	padding-right: 9px;
	color: #5c5c5c;
}

.yx-cp-m-funcTab {
	height: 120px;
	padding-top: 20px;
}
.yx-cp-mid{
	height:140px;

}
.yx-cp-tabLogo{
	display: block;
	width: 124px;
	height: 60px;
	background: url(../images/yx-cp-m-funcTab.png) no-repeat 0 -202px;
	float: left;
}
.yx-cp-m-search{
	
	
	margin-left: 230px;
	float: left;
	border-radius: 10px;
	position: relative;
}
.yx-cp-searchInput{
	width: 402px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	border: 1px solid #B4A078;
	color: #999;

	background:url(../images/yx-cp-m-funcTab.png)no-repeat 12px -301px;
	padding: 2px 0 2px 38px;
	float: left;
	border-radius: 20px 0 0 20px ;
}
.yx-cp-searchButton{
	width: 88px;
	height: 36px;
	background: #B4A078;
	float: left;
	border: 1px solid #B4A078;
	border-radius: 0 20px 20px  0;
}
.yx-cp-searchButtonName{
	display: inline-block;
	font-size: 16px;
	width: 80px;
	height: 36px;
	line-height: 36px;
	color: #fff;
	text-align: center;
}
.yx-qycg{
    position: relative;
}
.yx-qycg ul li{
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    border-bottom: 1px solid #ddd;
    margin: 0 10px;
}
.yx-qycg .yx-imgul{
    text-align: center;
    width: 110px;
    font-size: 10px;
    margin: 0 auto;
    color: #B4A078;
    
}
.yx-qycg img{
    display: inline-block;
}
.yx-qycg ul{
    
    position: absolute;
    left:20%;
    border: 1px solid #ddd;
    text-align: center;
    z-index: 100;
    background: #fff;
    display: none;
}
.yx-qycg:hover ul{
    display: block
}






.yx-cp-m-cartEnter{
	width: 134px;
	height: 38px;
	float: right;
	border: 1px solid #B4A078;
	border-radius: 20px;
	line-height: 38px;
	text-align: center;
}
.hotKeywordListWrap{
	width: 444px;
	height: 18px;

	margin: 46px 0 0 8px;
	font-size:12px;
	line-height: 18px;
}
.yx-cp-m-tabNav{
	width: 1090px;
	height: 30px;
	background: red;

	position: absolute;	
	top:120px;
	
}
.yx-cp-m-tabNav .yx-cp-tabNav-item{
	margin-top: 32px;
	float: left;
	text-align: center;
	padding: 0 26px;
	
	
}
.yx-cp-m-tabNav .yx-cp-tabNav-item-1{
	margin-top: 32px;
	float: left;
	text-align: center;
	padding-right:26px;
}
.yx-cp-m-tabNav .yx-cp-tabNav-item-2{
	margin-top: 32px;
	float: left;
	text-align: center;
	padding-left:26px;
}
.yx-cp-topLevel{
	font-size: 14px;
	
	font-weight: 800;
	color:#333 ;
	border-bottom: 3px solid transparent;
}
.yx-cp-m-tabNav li{
    position: relative;
}
.yx-cp-m-tabNav li:hover a{
    
	color: #B4A078;
	border-color:#B4A078; 
} 
.yx-cp-tabNav-dropdown{
    width: 1200px;
    
    background: #fff;
    height: 500px;
    display: none;
    border: 1px solid #ccc;
    z-index: 1000;
}
.yx-tn-it-1 .yx-cp-tabNav-dropdown{
   
    position: absolute;
    left:-80px;
}
.yx-tn-it-2 .yx-cp-tabNav-dropdown{
   
    position: absolute;
    left: -188px;
}
.yx-tn-it-3 .yx-cp-tabNav-dropdown{
   
    position: absolute;
    left: -296px;
}
.yx-tn-it-4 .yx-cp-tabNav-dropdown{
   
    position: absolute;
    left: -404px;
}
.yx-tn-it-5 .yx-cp-tabNav-dropdown{
   
    position: absolute;
    left: -512px;
}
.yx-tn-it-6 .yx-cp-tabNav-dropdown{
   
    position: absolute;
    left: -620px;
}
.yx-tn-it-7 .yx-cp-tabNav-dropdown{
   
    position: absolute;
    left: -728px;
}
.yx-tn-it-8 .yx-cp-tabNav-dropdown{
   
    position: absolute;
    left: -836px;
}
.yx-tn-it-9 .yx-cp-tabNav-dropdown{
   
    position: absolute;
    left: -944px;
}
//二级菜单
.yx-cp-tabNav-item:hover .yx-cp-tabNav-dropdown{
    display: block;
}
.yx-cp-tabNav-dropdown-li-name{
    border-bottom: 1px solid #ccc;
}
.yx-cp-tabNav-dropdown-ul{
    padding-top: 50px;
}
.yx-cp-tabNav-dropdown-ul li{
    width: 180px;
    float: left;
    margin-left: 50px;
    text-align: left;
}
.yx-cp-tabNav-dropdown-ul li h2{
    font-size: 18px;
    font-family: 700;
}
.yx-cp-tabNav-dropdown-ul li a{
    float: left;
    display:inline-block;
    width:100px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    margin: 10px;
}
.yx-cp-tabNav-dropdown-ul li i{
    display: inline-block;
    width: 30px;
    height: 30px;
    float: left;
    background: url(../images/list-bg-icon.png) no-repeat center;
}
.yx-cp-tabNav-dropdown-ul li a span{
    display: inline-block;
    font-size:12px;
    line-height: 30px;
    margin-left: 20px;
    
}
.yx-cp-siteNavItem .icon-xiakuohao{
    font-size:10px;
    padding: 0 3px;
}
.yx-cp-siteNavItem .icon-shouji{
    font-size:10px;
     padding: 0 3px;
}
.yx-cp-m-cartEnter span{
    font-size: 14px;
    color:#B4A078;
}
.yx-cp-m-cartEnter .icon-qicheqianlian-1-copy{
    font-size: 20px;
    color: #B4A078;
}
.yx-cp-m-cartEnter .yx-sp-bg{
    color: #fff;
    border-radius:10px;
    background: red;
}




/*背景图*/
.m-indexFocus{
height: 420px;


}
#swiper-container{
    background: #f5f5f5;
}
/*----------------------------------------背景图轮播样式---------------------------------------*/
            
            #swiper-container .swiper-container1 {
                width: 1920px;
                height: 100%;
            }
            #swiper-container .swiper-wrapper1 {
                width: 1090px;
                height: 420px;
            }
            
            #swiper-container .swiper-slide1 {
                text-align: center;
                font-size: 18px;
                background: #fff;
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
            }
            
          #swiper-container .swiper-button-next1,
         #swiper-container .swiper-button-prev1 {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background: #D0C4AF url(../images/icon-image.png) no-repeat;
            }
            /*前一个*/
            
            #swiper-container .swiper-button-next1 {
                right: 18%;
                background-position: 0 -5628px;
            }
            /*下一个按钮*/
            
            #swiper-container .swiper-button-prev1 {
                left: 18%;
                background-position: 0 -5408px;
            }
            
            #swiper-container .swiper-pagination-bullet1 {
                font-size: 0;
                line-height: 0;
                width: 9px;
                height: 9px;
                cursor: pointer;
                border: 1px solid #cecece;
                background: #fff;
                margin: 0 8px 10px;
                text-shadow: 3px;
            }
            
            #swiper-container .swiper-pagination-bullet-active{
                background: #cecece;
            }
            /*----------------------------------------背景图轮播样式---------------------------------------*/
//左侧吸顶菜单



/*品牌制造商*/




//右侧吸顶菜单
.m-manufacturer{
	height: 368px;
	margin-top: 30px;
}
.m-commonHeader{
    padding-bottom: 20px;
    height: 28px;
}
.m-app .lh1 {
    line-height: 1;
}
.m-commonHeader .name {
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    float: left;
    margin-right: 20px;
}
.m-commonHeader .frontName {
    padding-top: 13px;
    display: inline-block;
    line-height: 1;
}
.f-fz14 {
    font-size: 14px;
}
.f-left{
	float: left;
}
.f-right {
    float: right;

}
.m-commonHeader .moreItems {
    display: inline-block;
    line-height: 1;
    margin-left: 30px;
    padding-top: 14px;
    cursor: pointer;
}
.g-row {
    width: 1090px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  
    }

.m-manufacturer .manufacturerList {
    overflow: hidden;
    }

.m-manufacturer .manufacturerList .manufacturer {
    width: 357px;
    float: left;
	margin-left: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.m-manufacturer .manufacturerList .manufacturer .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.m-manufacturer .manufacturerList .manufacturer .name, .m-manufacturer .manufacturerList .manufacturer .price {
    position: relative;
    z-index: 3;
    color: #666;
}
.m-manufacturer .manufacturerList .manufacturer .name {
    font-size: 24px;
    margin: 48px 0 19px;
    line-height: 1;
    border-right: 0;
    border-left: 0;
}
.m-manufacturer .manufacturerList .manufacturer .name .newShelfTag {
    position: absolute;
    top: -3px;
    font-size: 11px;
    margin-left: 2px;
    text-align: center;
    line-height: 19px;
    width: 32px;
    height: 21px;
    color: #fff;
    background: url(../images/it-tb-1.png) center no-repeat;
}
.m-manufacturer .manufacturerList .manufacturer .price {
    font-size: 14px;
    padding-top: 17px;
    display: inline-block;
    width: auto;
    border-top: 1px solid #666;
}
.m-manufacturer .manufacturerList .manufacturer .img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    text-align: center;
    }
.m-manufacturer .manufacturerList .manufacturer.large.middle {
    width: 357px;
    margin-left: 9px !important;
}
.m-manufacturer .manufacturerList .manufacturer.first {
    margin-left: 0;
}
 .m-manufacturer .manufacturerList .manufacturer.large {
    height: 320px;
}
.m-manufacturer .manufacturerList .manufacturer.small {
    height: 155px;
}
.m-manufacturer .manufacturerList .manufacturer.small .name {
    font-size: 20px;
    margin: 32px 0 10px 20px;
    text-align: left;
}
.m-manufacturer .manufacturerList .manufacturer.small .price {
    padding-top: 10px;
    margin-left: 20px;
    float: left;
}
.m-manufacturer .manufacturerList .manufacturer.small.last {
    margin-top: 10px;
}




    /*新品首发*/
.m-newProducts{
	height:450px;

	padding-top: 60px;
}
/*轮播商品部分*/
.m-app .m-indexComment .slickWidth, .m-app .m-indexFocus .slickWidth, .m-app .m-newProducts .slickWidth, .m-app .m-saleCenter .slickWidth {

    width: 1090px;
//  overflow: hidden;

}
.m-newProducts .m-newItemSlick {

    width: 1100px;

}
.m-manufacturer .manufacturerList .manufacturer:hover .img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
}
.slick-slider {

    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;

}
.m-app .m-indexComment .slick-slider, .m-app .m-indexFocus .slick-slider, .m-app .m-newProducts .slick-slider, .m-app .m-saleCenter .slick-slider {
    position: static;
}
.m-app .m-indexComment .slick-prev, .m-app .m-indexFocus .slick-prev, .m-app .m-newProducts .slick-prev, .m-app .m-saleCenter .slick-prev {

    left: -60px;

}
.m-app .m-indexComment .slick-next,
.m-app .m-indexComment .slick-prev,
.m-app .m-indexFocus .slick-next,
.m-app .m-indexFocus .slick-prev,
.m-app .m-newProducts .slick-next,
.m-app .m-newProducts .slick-prev,
.m-app .m-saleCenter .slick-next,
.m-app .m-saleCenter .slick-prev {
	position: absolute;
	z-index: 9;
	top: 200px !important;
	width: 50px;
	height: 50px;
	cursor: pointer;
	opacity: 80;
	background-color: #D0C4AF;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	-ms-border-radius: 500px;
	-o-border-radius: 500px;
	border-radius: 500px;
}
.m-customLightbox .slick .slick-arrow,
.m-pop .w-status,
.m-pop-express .m-content .w-expInfo .icon-express,
.m-pop-express .m-content .w-expdetail .dot,
.m-reasonLightbox .slick-next.slick-disabled,
.m-reasonLightbox .slick-prev.slick-disabled,
.m-report-modal .modal .modal-body .slick-arrow,
.m-slick .leftArrow,
.m-slick .rightArrow,
.m-tipTag::before,
.w-icon-normal,
.w-tipMsg-fail .icon,
.w-tipMsg-success .icon,
.w-toolTip-coupon .toolTip-triangle {
	background-image: url(../images/icon-image.png);
	background-repeat: no-repeat;
}
.icon-normal-slick-leftRound {

    background-position: 0 -5408px;
    height: 50px;
    width: 50px;
	
}
.m-webmailDialog area, .slick-list:focus, .slick-slider * {
    outline: 0;
}
.icon-normal-slick-rightRound {
    background-position: 0 -5628px;
    height: 50px;
    width: 50px;
}
.m-app .m-indexComment .slick-next, .m-app .m-indexFocus .slick-next, .m-app .m-newProducts .slick-next, .m-app .m-saleCenter .slick-next {
    right: -60px;
}
.slick-list {
    position: relative;
    z-index: 0;
    width: 1100px;
    height: 361px;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.m-app .m-indexComment .slick-next:hover, .m-app .m-indexComment .slick-prev:hover, .m-app .m-indexFocus .slick-next:hover, .m-app .m-indexFocus .slick-prev:hover, .m-app .m-newProducts .slick-next:hover, .m-app .m-newProducts .slick-prev:hover, .m-app .m-saleCenter .slick-next:hover, .m-app .m-saleCenter .slick-prev:hover {
    background-color: #B19E7A;
}
.slick-slider .slick-list, .slick-slider .slick-track {
   position: absolute;
   left: 0;
}
.m-newProducts .m-newProduct {

    width: 265px !important;
    margin-right: 10px;

}
.m-newProducts .m-newProduct {

    width: 265px !important;
    margin-right: 10px;

}
.slick-initialized .slick-slide {

    display: block;

}
.slick-slide {

    display: none;
    float: left;
    height: 100%;
    min-height: 1px;

}
.m-webmailDialog area, .slick-list:focus, .slick-slider * {

    outline: 0;

}
.m-product {

    line-height: 1;
    text-align: center;
    font-size: 13px;
    width: 245px;
    height: 361px;
    position: relative;

}
.m-newProducts .m-newProduct .hd {

    background-color: transparent;

}
.m-product .hd {

    position: relative;
    margin-bottom: 8px;
    overflow: hidden;
    background-color: #f4f4f4;

}
.m-newProducts .m-newProduct .img, .m-newProducts .m-newProduct .imgScene {

    width: 265px;
    height: 265px;

}
.img-lazyload.white, .img-lazyloaded.white {

    background-color: #fff;
    color: #fff;

}
.m-product .img {

    width: 245px;
    height: 245px;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
   
    border: 1px solid transparent;
  
    display: block;
    margin: 0 auto;

}
.slick-slide img {

    display: block;

}
.m-webmailDialog area, .slick-list:focus, .slick-slider * {

    outline: 0;

}
.img-lazyloaded {

    background: #f4f4f4;
        background-color: rgb(244, 244, 244);
    color: #f4f4f4;

}
.img-lazyload {

    color: #f4f4f4;

}
img {

    vertical-align: top;

}
.m-product .hd .colorNum {

    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    font-size: 12px;
    color: #a7936e;
    border: 1px solid #b3a07d;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 4px;
    line-height: 18px;
    background-color: #f4f0ea;

}
.m-product .prdtTags {

    height: 20px;
    font-size: 0;
    color: #fff;
    width: 200px;
    margin: 0 auto 3px;
    overflow: hidden;
 
}
.prdtTags {

    height: 20px;
    font-size: 0;
    color: #fff;
    width: 200px;
    margin: 0 auto 3px;
    overflow: hidden;

}
.m-pop-crm, .m-upMobileValidate .upMobileContent, .prdtTags {

    text-align: center;

}
.m-product h4.name {

    padding: 0 10px;

}
.m-product .name {

    margin-bottom: 4px;
    height: 20px;
    line-height: 20px;

}
.f-text-overflow, .m-hrz .w-txticon .txt, .m-product .desc, .m-product .name, .w-linkicon .txt {

    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;

}
.m-newProducts .m-newProduct .bd .price {

    padding: 1px 0 9px;

}
.m-app .m-product .price {

    font-size: 13px;
    line-height: 13px;
    color: #d4282d;
    padding: 1px 0 9px;
    margin: 0;

}
.m-product .price {

    color: #d4282d;
    text-align: center;

}

.m-newProducts .m-newProduct .imgScene {
    display: none !important;
}
.m-newProducts .m-newProduct .bd .price .retailPrice, .m-newProducts .m-newProduct .bd .price .unitPrice {

    position: relative;
    top: 1px;

}
.m-app .m-product .price .counterPrice, .m-app .m-product .price .retailPrice, .m-app .m-product .price .unitPrice {

    position: relative;
    top: 1px;

}
.m-app .m-product .price span {

    line-height: 13px;
    height: 13px;
    padding: 0;

}
.m-product .price span {

    display: inline-block;
    overflow: hidden;
    height: 20px;
    line-height: 22px;

}
.m-app .m-product .price span {

    line-height: 13px;
    height: 13px;
    padding: 0;

}
.m-product .price span {

    display: inline-block;
    overflow: hidden;
    height: 20px;
    line-height: 22px;

}
.m-newProducts .m-newProduct:hover {
    -webkit-box-shadow: 1px 1px 8px rgba(0,0,0,.2);
    -moz-box-shadow: 1px 1px 8px rgba(0,0,0,.2);
    box-shadow: 1px 1px 8px rgba(0,0,0,.2);
    background-color: #f4f0ea;
}
.m-newProducts .m-newProduct:hover .img {
    display: none !important;
}
.m-newProducts .m-newProduct:hover .imgScene {
    display: inline !important;
}







/*人气推荐*/
.m-indexPopularItem{
	height: 578px;
	padding: 60px 0;
	background: #f4f0ea;
}

.m-indexPopularItem .showContainer {
    clear: both;
    overflow: hidden;
    height: 530px;
}
.m-popularItem:first-child {
    width: 390px;
    height: 530px;
    margin-left: 0;
}

.m-popularItem:first-child .hd {
    margin-bottom: 18px;
}
.m-popularItem .hd {
    background: 0 0;
    border-bottom: 1px solid #F4F0EA;
}
.m-popularItem:first-child .img {
    width: 320px;
    height: 320px;
    margin: 40px 35px;
}
.m-popularItem .hd .img {
    width: 180px;
    height: 180px;
}
.m-product .hd .colorNum {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    font-size: 12px;
    color: #a7936e;
    border: 1px solid #b3a07d;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 4px;
    line-height: 18px;
    background-color: #f4f0ea;
}
.m-popularItem:first-child .bd .name {
    margin-bottom: 13px;
    font-size: 18px;
}
.m-popularItem .bd .name {
    line-height: 18px;
    margin-bottom: 3px;
}
.m-popularItem:first-child .bd .price {
    font-size: 18px;
}
.m-popularItem:first-child .bd .price span {
    font-size: 18px;
    height: 18px;
    line-height: 1;
}
.m-popularItem:first-child .bd .price .counterPrice {
    top: 1px;
}
.m-popularItem:first-child .bd .price span {
    font-size: 18px;
    height: 18px;
    line-height: 1;
}
.m-product:hover .hd .img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.m-popularItem:first-child .img {
    width: 320px;
    height: 320px;
    margin: 40px 35px;
}
.m-popularItem {
    background-color: #fff;
    overflow: hidden;
    width: 223px;
    height: 260px;
    float: left;
    margin-left: 10px;
    text-align: center;
}
.m-popularItem.down {
    margin-top: 10px;
}




/*限时购*/
#flashSaleContainer{
	height: 483px;
}
.m-flashSale .g-row {
    padding-top: 58px;
}
.m-flashSale .bd {
    height: 377px;
    width: 100%;
    overflow: hidden;
}
.m-flashSale .flashSaleRt {
    margin-left: 224px;
    height: 377px;
    box-sizing:content-box;
}

.m-flashSale .flashSaleLt {

    position: relative;
    height: 377px;
    width: 224px;
    padding-top: 60px;
    float: left;
    text-align: center;
    background: url(../images/fllash-bg.jfif) no-repeat;

}
.m-flashSale .flashSaleLt .screenHd {
    height: 36px;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 11px;
    color: #615548;
}
.m-flashSale .flashSaleLt .line {
    width: 20px;
    height: 2px;
    margin: 0 auto 18px;
    background: #61594b;
}
.m-flashSale .flashSaleLt .screenEndTips {
    margin-bottom: 18px;
    font-size: 18px;
    color: #615548;
    line-height: 22px;
    height: 22px;
}
.m-flashSale .flashSaleLt .m-countDown {
    height: 40px;
    margin-bottom: 50px;
    text-align: center;
}

.m-flashSale .flashSaleLt .m-countDown {
    height: 40px;
    margin-bottom: 50px;
    text-align: center;
}
.m-flashSale .flashSaleLt .m-countDown .w-cd {
    width: 40px;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    background-color: #615548;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.m-flashSale .flashSaleLt .m-countDown .colon {
    font-weight: 700;
    padding: 0 2px;
}
.m-flashSale .flashSaleLt .m-countDown span {
    display: inline-block;
}
.m-flashSale .flashSaleLt .seeMoreBtn {
    display: block;
    width: 110px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    background-color: #a7936e;
    cursor: pointer;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
.m-flashSale .flashSaleLt .link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
}
.m-flashSale .flashSaleRt .m-flashSaleProduct {
    float: left;
    width: 432px;
    height: 186px;
    border: 1px solid #f0ece4;
        border-left-color: rgb(240, 236, 228);
        border-left-style: solid;
        border-left-width: 1px;
    border-left: none;
}
.m-flashSaleProduct {
    float: left;
    width: 433px;
    height: 188px;
    background-color: #fff;
}
.m-flashSaleProduct .lt {
    float: left;
    width: 180px;
    height: 180px;
    cursor: pointer;
    overflow: hidden;
    margin: 3px 0;
}
.m-flashSaleProduct .lt .picIn {
    position: relative;
    display: block;
}
.m-flashSaleProduct .lt .pic {
    width: 180px;
    height: 180px;
    border: 1px solid transparent;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    display: block;
    margin: 0 auto;
}
.m-flashSaleProduct .rt {
    margin-left: 180px;
    height: 187px;
    padding-top: 14px;
}
.m-flashSaleProduct .rt .itemName {
    height: 26px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.m-flashSaleProduct .rt .itemDes {
    height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.m-flashSaleProduct .rt .itemNum .numBar {
    float: left;
    position: relative;
    width: 152px;
    height: 10px;
    margin: 2px 0;
    border: 1px solid #f2cecd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.m-flashSaleProduct .rt .itemNum .numBarIn {
    background-color: #ffe5e5;
    height: 10px;
}
.m-flashSaleProduct .rt .itemNum .numTips {
    height: 14px;
    margin-left: 162px;
    font-size: 14px;
    color: #999;
    line-height: 14px;
}
.m-flashSaleProduct .rt .itemNum {
    padding: 14px 0 8px;
    height: 14px;
}

 .m-flashSaleProduct .rt .itemPrice {
    font-size: 14px;
    line-height: 1;
    vertical-align: baseline;
} 
 .m-flashSaleProduct .rt .itemPrice .aPrice {
    color: #be4141;
}
.m-flashSaleProduct .rt .itemPrice .yuan {
    font-size: 18px;
    margin-left: 4px;
}
.m-flashSaleProduct .rt .itemPrice .aPriceIn {
    margin-right: 12px;
    vertical-align: sub;
    font-weight: 700;
    font-size: 24px;
}
.m-flashSaleProduct .rt .itemPrice .oPrice {
    color: #999;
}
.m-flashSaleProduct .rt .itemPrice .oPriceIn {
    text-decoration: line-through;
}
.m-flashSaleProduct .rt .tobuyBtn {
    background-color: #be4141;
    color: #fff;
}
.m-flashSaleProduct .rt .w-btn {
    display: block;
    width: 118px;
    height: 31px;
    margin-top: 18px;
    line-height: 31px;
    text-align: center;
    font-size: 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}






 





/*福利社*/
.m-saleCenter{
	height: 420px;
	margin-top: 60px;
	padding: 54px 0 52px 0;
	background: #f4f0ea;
}
.m-app .m-saleCenter .saleCenterList .m-indexCarousel {
    width: 224px;
}
.m-app .m-saleCenter .saleCenterList .moduleList {
    width: 866px;
}
.m-app .m-saleCenter .saleCenterList .m-indexCarousel .m-focus, .m-app .m-saleCenter .saleCenterList .m-indexCarousel .m-focus .slick-slide {
    height: 376px;
}

//------------------------福利社图片轮播样式--------------------------

 #swiper-container2 .swiper-slide2 {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
            
#swiper-container2 .swiper-button-next2,
#swiper-container2 .swiper-button-prev2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
/*前一个*/

#swiper-container2 .swiper-button-next2 {

    background: url(../images/icon-next.png) no-repeat;
    display: none;
}
/*下一个按钮*/

#swiper-container2 .swiper-button-prev2 {

     background: url(../images/icon-prev.png) no-repeat;
     display: none;
}
#swiper-container2:hover .swiper-button-prev2{
    display: block;
}
#swiper-container2:hover .swiper-button-next2{
    display: block;
}

#swiper-container2 .swiper-pagination-bullet2 {
    font-size: 0;
    line-height: 0;
    width: 9px;
    height: 9px;
    cursor: pointer;
    border: 1px solid #cecece;
    background: #fff;
    margin: 0 8px 10px;
    text-shadow: 3px;
}

#swiper-container2 .swiper-pagination-bullet-active{
    background: #cecece;
}
//------------------------福利社图片轮播-样式-------------------------

.m-app .m-saleCenter .saleCenterList .moduleList .module-0 {
    width: 588px;
    height: 376px;
    padding: 0 17px 0 19px;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module {
    float: left;
    background-color: #fff;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-0 .moduleHd {
    font-size: 18px;
    border-bottom: 1px solid #F4F0EA;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module .moduleHd {
    padding: 19px 0 12px;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-0 .moduleBd {
    margin-top: 20px;
    margin-right: -20px;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-0 .item {
    position: relative;
    width: 284px;
    margin: 0 20px 20px 0;
    font-size: 14px;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-0 .item .hd {
    position: relative;
    width: 130px;
    height: 130px;
    margin-right: 10px;
    background-color: #FBF9F6;
}
.f-fl, .m-hrz .m-ipt, .m-hrz .m-wrap, .m-hrz .w-hrzsplite {
    float: left;
    display: inline;
}
.f-fr, .m-hrz .m-wrap-right {
    float: right;
    display: inline;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module .moduleHd .lt {
    font-size: 16px;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module .moduleHd .rt {
    color: #999;
    font-size: 12px;
    cursor: pointer;
    margin-top: 6px;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-0 .item {
    position: relative;
    width: 284px;
    margin: 0 20px 20px 0;
    font-size: 14px;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-0 .item .hd {
    position: relative;
    width: 130px;
    height: 130px;
    margin-right: 10px;
    background-color: #FBF9F6;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-0 .item .hd .discount {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    border-radius: 100%;
    color: #fff;
    background-color: #F78D33;
    font-size: 12px;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-0 .item .bd {
    line-height: 1.1;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-0 .item .bd .name {
    max-width: 130px;
    max-height: 40px;
    overflow: hidden;
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-0 .item .bd .limitPrice {
    color: #BE4141;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-0 .item .bd .limitPrice .yen {
    font-size: 12px;
    vertical-align: -2px;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-0 .item .bd .limitPrice .num {
    vertical-align: -2px;
    font-size: 20px;
    font-weight: 700;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-0 .item .bd .counterPrice .num {
    text-decoration: line-through;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-0 .item .bd .counterPrice {
    color: #A4A4A4;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-0 .item .bd .btn {
    position: absolute;
    bottom: 8px;
    width: 90px;
    line-height: 26px;
    text-align: center;
    background-color: #BE4141;
    border: 1px solid #D25A5A;
    border-radius: 2px;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-0 .item .bd .btn a {
    color: #fff;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-1, .m-app .m-saleCenter .saleCenterList .moduleList .module-2 {
    width: 199px;
    height: 188px;
    padding: 0 20px 0 22px;
    border-left: 1px solid #F4F0EA;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-1 .item, .m-app .m-saleCenter .saleCenterList .moduleList .module-2 .item {
    position: relative;
    width: 200px;
    margin-bottom: 20px;
    font-size: 14px;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-1 .item .hd, .m-app .m-saleCenter .saleCenterList .moduleList .module-2 .item .hd {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-color: #FBF9F6;
}
.m-app .m-saleCenter .saleCenterList img {
    width: 100%;
    height: 100%;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-1 .item .bd, .m-app .m-saleCenter .saleCenterList .moduleList .module-2 .item .bd {
    line-height: 1.1;
    width: 130px;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-1 .item .bd .name, .m-app .m-saleCenter .saleCenterList .moduleList .module-2 .item .bd .name {
    max-width: 130px;
    margin: 4px 0 14px;
}
.f-text-overflow, .m-hrz .w-txticon .txt, .m-product .desc, .m-product .name, .w-linkicon .txt {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.m-app .m-saleCenter .saleCenterList .moduleList .module-1 .item .bd .cart-salecart, .m-app .m-saleCenter .saleCenterList .moduleList .module-2 .item .bd .cart-salecart {
    position: absolute;
    right: 0;
    bottom: 0;
}
.cart-salecart {
    background-position: 0 -199px;
    height: 24px;
    width: 24px;
}
.w-icon-cart {
   
    background-repeat: no-repeat;
}
.f-text-overflow, .m-hrz .w-txticon .txt, .m-product .desc, .m-product .name, .w-linkicon .txt {

    white-space: nowrap;

}
.m-app .m-saleCenter .saleCenterList .moduleList .module-1 .item, .m-app .m-saleCenter .saleCenterList .moduleList .module-2 .item {
    font-size: 14px;
}


.m-app .m-saleCenter .saleCenterList .moduleList .module-1 .item .bd .cart-salecart, .m-app .m-saleCenter .saleCenterList .moduleList .module-2 .item .bd .cart-salecart {

    position: absolute;
    right: 0;
    bottom: 0;

}
.cart-salecart {

    background-position: 0 -199px;
    height: 24px;
    width: 24px;

}
.w-icon-cart {

    background-image: url(../images/cart.png);
     background-repeat: no-repeat;
  
}















/*商品下部分*/
.m-indexCates{
	margin-top: 60px;
}
/*居家生活*/
.m-app .m-saleCenter .saleCenterList .moduleList .module-2 .moduleHd {
    padding-top: 12px;
}
.m-commonHeader {
    padding-bottom: 20px;
}
.m-app .lh1 {
    line-height: 1;
}
.m-commonHeader .lh1 {
    line-height: 1;
}
.m-commonHeader .subCateList {
    display: inline-block;
    font-size: 14px;
    padding-top: 14px;
}
.m-commonHeader .name {
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    float: left;
    margin-right: 20px;
}
.m-commonHeader .subCateList {
    display: inline-block;
    font-size: 14px;
    padding-top: 14px;
}
.m-commonHeader .subCateList .spilt {
    margin: 0 13px;
}
.m-commonHeader .moreItems {
    display: inline-block;
    line-height: 1;
    margin-left: 30px;
    padding-top: 14px;
    cursor: pointer;
}

//------------------------居家生活图片轮播样式--------------------------

 #swiper-container3 .swiper-slide3 {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
            
#swiper-container3 .swiper-button-next3,
#swiper-container3 .swiper-button-prev3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
/*前一个*/

#swiper-container3 .swiper-button-next3 {

      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #D0C4AF url(../images/icon-image.png) no-repeat;
      background-position: 0 -5628px;
}   
/*下一个按钮*/

#swiper-container3 .swiper-button-prev3{

      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #D0C4AF url(../images/icon-image.png) no-repeat;
      background-position: 0 -5408px;
}



#swiper-container3 .swiper-pagination-bullet3 {
    font-size: 0;
    line-height: 0;
    width: 9px;
    height: 9px;
    cursor: pointer;
    border: 1px solid #cecece;
    background: #fff;
    margin: 0 8px 10px;
    text-shadow: 3px;
}

#swiper-container3 .swiper-pagination-bullet-active{
    background: #cecece;
}
//------------------------居家生活图片轮播样式-------------------------
.m-indexCates .m-indexCate .banner {
    margin-bottom: 20px;
}
.m-indexCates .m-indexCate > .bd {
    width: 1090px;
    overflow: hidden;
}
.m-indexCates .m-indexCate > .bd .itemList {
    margin-right: -10px;
}
.m-indexCates .m-indexCate > .bd .itemList .item .m-product {
    width: 265px;
    height: 361px;
}
.m-product.showScene {
    width: 245px;
    height: 381px;
}

.m-indexCates .m-indexCate > .bd .itemList .item {
    float: left;
    margin: 0 10px 50px 0;
    width: 265px;
}
.m-product .hd {
    position: relative;
    margin-bottom: 8px;
    overflow: hidden;
  
}
.m-indexCates .m-indexCate > .bd .itemList .item .m-product img {
    width: 265px;
    height: 265px;
}
.m-indexCates .m-indexCate > .bd .itemList .item .m-product img {
    width: 265px;
    height: 265px;
}
.m-product.showScene .imgScene {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    opacity: 0 !important;
    width: 245px;
    height: 245px;
}
.m-product .prdtTags {
    height: 20px;
    font-size: 0;
    color: #fff;
    width: 200px;
    margin: 0 auto 3px;
    overflow: hidden;
}
.prdtTags {
    height: 20px;
    font-size: 0;
    color: #fff;
    width: 200px;
    margin: 0 auto 3px;
    overflow: hidden;
}
.m-pop-crm, .m-upMobileValidate .upMobileContent, .prdtTags {
    text-align: center;
}
.m-product .prdtTags .itemTag:first-child {
    margin-left: 0;
}
.prdtTags .itemTag:first-child {
    margin-left: 0;
}
.m-product .prdtTags .itemTag {
    margin-left: 6px;
}
.m-product .prdtTags .itemTag, .u-promTag-solid {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #fff;
    padding: 0 5px;
    font-size: 12px;
    background-color: #e36844;
}
.m-product h4.name {
    padding: 0 10px;
}
.m-product .name {
    margin-bottom: 4px;
    height: 20px;
    line-height: 20px;
}
.m-app .m-product .price {
    font-size: 13px;
    line-height: 13px;
    color: #d4282d;
    padding: 1px 0 9px;
    margin: 0;
}
.m-product .price {
    color: #d4282d;
    text-align: center;
}
.m-app .m-product .price .counterPrice, .m-app .m-product .price .retailPrice, .m-app .m-product .price .unitPrice {
    position: relative;
    top: 1px;
}
.m-app .m-product .price span {
    line-height: 13px;
    height: 13px;
    padding: 0;
}
.m-product .price span {
    display: inline-block;
    overflow: hidden;
    height: 20px;
    line-height: 22px;
}
.m-app .m-product .price .counterPrice {
    font-size: 12px;
    color: #999;
    top: 2px;
}
.m-app .m-product .price .counterPrice, .m-app .m-product .price .retailPrice, .m-app .m-product .price .unitPrice {
    position: relative;
    top: 1px;
}
.m-app .m-product .price span {
    line-height: 13px;
    height: 13px;
    padding: 0;
}
.m-product .price .counterPrice {
    margin-left: 6px;
    font-size: 12px;
    color: #999;
    text-decoration: line-through;
}
.m-app .m-product .price .counterPrice {
    font-size: 12px;
    color: #999;
    top: 2px;
}
.m-app .m-product .price .counterPrice, .m-app .m-product .price .retailPrice, .m-app .m-product .price .unitPrice {
    position: relative;
    top: 1px;
}
.m-app .m-product .price span {
    line-height: 13px;
    height: 13px;
    padding: 0;
}
.m-product .price .counterPrice {
    margin-left: 6px;
    font-size: 12px;
    color: #999;
    text-decoration: line-through;
}
.m-product .price span {
    display: inline-block;
    overflow: hidden;
    height: 20px;
    line-height: 22px;
}
.m-product.showScene:hover {
    -webkit-box-shadow: 1px 1px 8px rgba(0,0,0,.2);
    -moz-box-shadow: 1px 1px 8px rgba(0,0,0,.2);
    box-shadow: 1px 1px 8px rgba(0,0,0,.2);
    background-color: #f4f0ea;
}







/*甄选家*/
#zxj .large{
    width: 690px;
}
#zxj .small{
    width: 390px;
}

/*大家都在说*/

.m-indexComment {
    background-color: #f4f0ea;
    padding: 60px;
    background: #f4f0ea;
    overflow: hidden;
    height: 660px;
    }
/*左侧菜单*/
.m-indexSideBar.fixed{
	position: fixed;
	top: 62px !important;
	
}
.m-indexSideBar {
    width: 110px;
    border: 1px solid #E2DED6;
    left: 50%;
    margin-left: -680px;
    z-index: 98;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    display: block;
    opacity: 1;
    will-change: transform;
    transform: translateZ(0);
    }
    


/*底部*/
#j-YXComponentFoot{
	height: 549px;
	background: #E7E1CD;
}
/*底部1*/
.yx-cp-m-ft1{
	height: 204px;
	background: white;
	padding: 60px 0 34px 0;
}
.yx-cp-m-foot .yx-cp-m-ft1 .yx-cp-item {
    width: 362px;
    height: 204px;
    float: left;
    border-left: 1px solid #e9e9e9;
}
.yx-cp-m-foot .yx-cp-m-ft1 .yx-cp-item:first-child {
    border-left: 0;
}
.yx-cp-m-foot .yx-cp-m-serviceTel {
    text-align: center;
    line-height: 1;
}
.yx-cp-m-foot .yx-cp-m-ft1 .yx-cp-item .yx-cp-hd {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;
    line-height: 1;
}
.yx-cp-m-foot .yx-cp-m-serviceTel .yx-cp-btn {
    width: 78px;
    height: 73px;
    font-size: 14px;
    background-color: #fff;
    padding-top: 25px;
    text-align: center;
    border: 1px solid #E8E8E8;
    color: #333;
}
.yx-cp-base .yx-f-margin-top-10 {
    margin-top: 10px;
}
.yx-cp-m-foot .yx-cp-m-serviceTel .yx-cp-btn.yx-cp-feedbackBtn {
    margin-left: 29px;
}

.yx-cp-icon-yxfoot{
	background: url(../images/foot.png);
}
.icon-yxfoot-service {
	background-position: 0 -290px;
	height: 26px;
	width: 31px;  
}


.icon-yxfoot-feedback{
    background-position: 0 -97px;
    height: 27px;
    width: 30px;
}

.yx-cp-m-foot .yx-cp-m-whatIsYX {
    padding: 0 37px;
    text-align: center;
    line-height: 1;
}
.yx-cp-m-foot .yx-cp-m-whatIsYX .yx-cp-desc {
    text-align: left;
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 22px;
}
.yx-cp-m-foot .yx-cp-m-followUs {
    padding: 0 37px;
    line-height: 1;
    text-align: left;
}
.yx-cp-m-foot .yx-cp-m-followUs .yx-cp-title {
    margin-right: 15px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 32px;
    float: left;
}
.yx-cp-m-foot .yx-cp-m-followUs .yx-cp-followWayList {
    float: left;
}
.yx-cp-m-foot .yx-cp-m-followUs .yx-cp-followWay {
    margin-right: 15px;
    position: relative;
    padding-bottom: 10px;
}
.yx-cp-base .yx-f-left {
    float: left;
}
.icon-yxfoot-yx {
    background-position: 0 -470px;
    height: 32px;
    width: 32px;
}
.icon-yxfoot-WX{
    background-position: 0 -428px;
    height: 32px;
    width: 32px;
}
.icon-yxfoot-wb {
    background-position: 0 -326px;
    height: 32px;
    width: 32px;
}
.yx-cp-m-foot .yx-cp-m-ftAppDownload {
    text-align: center;
}
.yx-cp-m-foot .yx-cp-m-ftAppDownload .yx-cp-footQRcode {
    display: inline-block;
    width: 104px;
    height: 104px;
}
.yx-cp-m-foot .yx-cp-m-ftAppDownload .yx-cp-tip {
    color: #b4a078;
    font-size: 12px;
    margin-top: 3px;
}





/*底部2*/
.yx-cp-m-ft2{
	height: 213px;
	padding-top: 37px;
	background: #414141;
}
.yx-cp-m-foot .yx-cp-row {
    width: 1090px;
    margin: 0 auto;
    position: relative;
}
.yx-cp-m-foot .yx-cp-m-siteEnsure .yx-cp-item {
    float: left;
}
.yx-cp-m-foot .yx-cp-m-siteEnsure .yx-cp-item .yx-cp-inner {
    color: #fff;
    font-size: 18px;
    line-height: 51px;
    display: inline-block;
    vertical-align: middle;
}

.yx-cp-m-foot .yx-cp-m-siteEnsure {
    margin-bottom: 30px !important;
    padding-left: 17px;
    height: 50px;
}
.yx-cp-m-foot .yx-cp-m-siteEnsure .yx-cp-item .yx-cp-inner .yx-cp-icon, .yx-cp-m-foot .yx-cp-m-siteEnsure .yx-cp-item .yx-cp-inner .yx-cp-text {
    float: left;
}
.yx-cp-m-foot .yx-cp-m-siteEnsure .yx-cp-item-2 {
    margin: 0 122px;
}
.yx-cp-m-foot .yx-cp-m-siteEnsure .yx-cp-item-3 {
    margin-right: 122px;
}

.yx-cp-m-foot .yx-cp-m-siteInfo {
    text-align: center;
    color: #999;
    position: relative;
    margin-top: 50px;
}
.yx-cp-m-foot .yx-cp-m-siteInfo .yx-cp-copyright {
    margin: 11px 0;
}
.yx-cp-m-foot .yx-cp-m-siteInfo .yx-cp-copyright a, .yx-cp-m-foot .yx-cp-m-siteInfo .yx-cp-copyright span.yx-cp-cr-text {
    color: #999;
    margin-right: 15px;
}
.yx-cp-m-foot .yx-cp-m-siteInfo .yx-cp-nav .yx-cp-text {
    color: #999;
}
.yx-cp-base, .yx-cp-base .yx-f-fz12 {
    font-size: 12px;
}
.yx-cp-m-foot .yx-cp-m-siteInfo .yx-cp-nav .yx-cp-split {
    margin: auto 13px;
}
.yx-cp-m-foot .yx-cp-m-siteEnsure .yx-cp-item .yx-cp-inner .yx-cp-icon{
    width: 50px;
    height: 51px;
    margin-right: 17px;
    
}

.yx-cp-m-foot .yx-cp-m-siteEnsure .yx-cp-item-1 .yx-cp-inner .yx-cp-icon{
    background:url(../images/foot.png) 0 -134px;
}
.yx-cp-m-foot .yx-cp-m-siteEnsure .yx-cp-item-2 .yx-cp-inner .yx-cp-icon{
    background:url(../images/foot.png) 0 -368px; 
}
.yx-cp-m-foot .yx-cp-m-siteEnsure .yx-cp-item-3 .yx-cp-inner .yx-cp-icon{
    background:url(../images/foot.png) 0 0;
}
.yx-cp-m-foot .yx-cp-m-siteEnsure .yx-cp-item-4 .yx-cp-inner .yx-cp-icon{
    background:url(../images/foot.png) 0 -194px;
}
